<div class="container-moment">
    <div class="new-container">
            <img class="ImagemTitulo" src="{{BaseUrlApi}}{{Moment.attributes.ImagemPost.data.attributes.url}}" alt="">
        <div class="new-body">
            <h1>{{Moment.attributes.Titulo}}</h1>
            <p>{{Moment.attributes.Descricao}}</p>
        </div>
        <div class="new-date">
            <p>Autor: {{Moment.attributes.AutorPostagem}}</p>
            <p>Data da postagem: {{Moment.attributes.DataPostagem}}</p>
        </div>
    </div>
</div>