.container-moment{
    width: 60%;
    margin: auto;
}
.new-container{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ImagemTitulo {
    border-radius: 20px;
    width: 800px;
    margin-bottom: 20px;
}

.new-body h1{
    color: #0cb27a ;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.new-body p{
    font-size: 25px;
    text-align: left;
    width: 800px;
    margin: auto;
    word-wrap:break-word
}

.new-date{
    text-align: left;
    width: 100%;
    margin: auto;
    font-size: 20px;
    margin-top: 50px;
}
.botoes-body{
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
#update{
    background-color:orange ;
}
#delete{
    background-color:rgb(177, 1, 1) ;
}
.botoes{
    margin-top: 50px;
}