<form>
    <div class="form-group">
        <label for="title">Titulo:</label>
        <input type="text" placeholder="Conte-nos qual sera o titulo">
    </div>
    <div class="form-group">
        <label for="description">Descrição:</label>
        <textarea type="text" placeholder="O que aconteceu?"></textarea>
    </div>
    <div class="form-group">
        <label for="autor">Autor da Postagem:</label>
        <input type="text" placeholder="Quem é o autor da história?">
    </div>
    <div class="form-group">
      <label for="image">Coloque sua foto da postagem aqui:</label>
      <input class="imagens" type="file" placeholder="Imagem">
    </div>
    <input type="submit" value="{{btnText}}">
</form>